.ourbody {
  background-color: #282c34;
}

.ourform {
  height: 72px;
  position: fixed;
  bottom: 0;
  background-color: rgb(24, 23, 23);
  width: 100%;
  display: flex;
  font-size: 1.5rem;
}

.ourform button {
  width: 20%;
  background-color: rgb(56, 56, 143);
}

#pbutton {
  width: 15%;
  padding-left: 10px;
}

.ourinput {
  line-height: 1.5;
  width: 100%;
  font-size: 1.5rem;
  background: rgb(58, 58, 58);
  color: white;
  outline: none;
  border: none;
  padding: 0 10px;
}

#pinput {
  width: 70%;
}

.ourbutton {
  background-color: #282c34; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  font-size: 1.25rem;
}

.ourbutton:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.message ul, li {
  text-align: left;
  list-style: none;
}

.message p {
  max-width: 500px;
  margin-bottom: 12px;
  line-height: 24px;
  padding: 10px 20px;
  border-radius: 25px;
  position: relative;
  color: white;
  text-align: center;
}

.message {
  display: flex;
  align-items: center;
}
.ourform {
    height: 72px;
    position: fixed;
    bottom: 0;
    background-color: rgb(24, 23, 23);
    width: 100%;
    display: flex;
    font-size: 1.5rem;
  }

.nav-bar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 30;
}
#proom {
  right: 0;
  position: absolute;
  width: 85%;
  background-color: #282c34;
  height: 100%; 
}
.sidebar {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 15%; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #111; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  /* padding-top: 20px; */
  margin-top: 50px;
  text-align: center;
}

.sidebar p {
  font-size: 20px;
  color: white;
  text-decoration: none;
}
.sidebar h1 {
  color: white;
  text-decoration: underline;
}
.grr{
    display: flex;
}

.love{
    margin-bottom: 80px;
    margin-top: 50px;
}
.sent {
  flex-direction: row-reverse;
  margin-right: 10px; 
}

.sent p {
  color: black;
  background: linear-gradient(to right, #48BFE3, #80FFDB);
  align-self: flex-end;
}
.received p {
  background:linear-gradient(to left, #5E60CE, #7400B8);
  color: white;
}

.received {
  margin-left: 10px; 
}

.message img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 2px 5px;
}